.trainer-select {
    text-align: center;
}

.trainer-select td {
    font-size: 1.5vw;
}

.trainer-search {
    width: 50%;
    margin: 2% auto 3% auto;
}

.question-container {
    text-align: center;
    margin-top: 3%;
    font-size: 4vw;
}

.question-container input {
    font-size: 3vw;
}

.trainer-stats span {
    font-size: 2vw;
    margin: 5%;
}

.infinite-toggle{
    display: inline-block;
    vertical-align: middle;
    margin: .5%;
}